{% extends "layout.html" %}

{% block grid %}

<!-- Grid -->
<div class="w3-row w3-container">
  <div class="w3-center w3-padding-64">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16 w3-text-white">What We Offer</span>
  </div>
  <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
    <h3>Clubs</h3>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  </div>

  <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
    <h3>Bars</h3>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  </div>

  <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
    <h3>Events</h3>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  </div>

  <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
    <h3>Festivals</h3>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  </div>

  <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
    <h3>Corporate</h3>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  </div>

  <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
    <h3>Christmas parties</h3>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  </div>

  <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
    <h3>Cocktail & Celebration parties</h3>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  </div>

  <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
    <h3>Grand Openings</h3>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
  </div>
</div>

{% endblock %}


{% block content %}

<!-- Grid -->
<div class="w3-row-padding w3-text-white" id="about">
  <div class="w3-center w3-padding-64 w3-text-white">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">About Us</span>
  </div>

  <!-- <div class="center"> -->
    <div class="w3-third w3-center">
      <div class="w3-card-4" style="width: 100%">
        <img src="/static/fyah_events_logo.jpg" alt="Fyah Events logo" style="width:100%">
        <div class="w3-container">
          <h3>Professional Event Company</h3>
          <!-- <p class="w3-opacity">CEO & Founder</p> -->
          <p>
            We pride ourself in making your events memorable. Whether you are looking for
            personality, sound or lighting, we got it covered. We act as a one stop shop
            for all DJ requirements. We also provide resident DJs to bar and club chains in
            LOndon. We work closely with our clients to create the best atmosphere for their
            venue, which in turn, increases footfall sales.
          </p>
          <p><a href="#contact"><button class="w3-button w3-light-grey w3-block">Contact us</button></a></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-center">
      <div class="w3-card-4" style="width: 100%">
        <img src="/static/fyah_events_logo.jpg" alt="Fyah Events logo" style="width:100%">
        <div class="w3-container">
          <h3>Experience</h3>
          <!-- <p class="w3-opacity">CEO & Founder</p> -->
          <p>
          Over the years our team has leveraged their passion and skills to suit our
          clients needs and their target audiences. We have 15+ years of experience
          in project managing launch and corporate events with 500 and more guests and
          delivering a complete solution including sound, lighting, DJ and theme. We
          have also extensive experience in providing residential DJs for commercial
          bars in London.
          </p>
          <p><a href="#contact"><button class="w3-button w3-light-grey w3-block">Contact us</button></a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block slideshow %}

<!-- Slideshow -->
<br>
<div class="w3-row-padding-64 w3-container" id="gallery">
  <div class="w3-panel w3-center w3-text-white">
    <h3><b class="w3-bottombar w3-border-dark-grey w3-padding-16">Fyah Events Gallery</b></h3>
  </div>
  <br><br>
  <div class="w3-container">
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE1.jpg" style="width:100%">
      <div class="w3-display-topleft w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Lorem ipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE11.JPG" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE2.jpg" style="width:100%">
      <div class="w3-display-middle w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Klorim tipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE3.jpg" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE4.JPG" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE8.JPG" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE13.jpg" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE14.jpg" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE17.jpg" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE18.jpg" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE9.JPG" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE19.jpg" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE20.jpg" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> -->
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="/static/pics/FE10.JPG" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span> -->
      </div>
    </div>


    <!-- Slideshow next/previous buttons -->
    <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
      <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
      <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>

      <div class="w3-center">
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(8)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(9)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(10)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(11)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(12)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(13)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(14)"></span>
      </div>
    </div>
  </div>
  <br><br>
  <hr>
  <br>
  <iframe width="100%" height="450px"
  src="https://www.youtube.com/embed/SBzVY6Sk2OU"
  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen"></iframe>
</div>


{% endblock %}

{% block clients %}

<!-- Grid -->
<div class="w3-row-padding" id="clients">
  <div class="w3-center w3-padding-64 w3-text-white">
    <h3>Clients</h3>
    <p>View some of the clients we have worked with</p>
  </div>
</div>

<div id="ffka_sc_wrap">
   <img src="/static/abbey_logo.png" alt="Abbey logo" style="width: 30%; height: 30%" title="Abbey">
   <img src="/static/citibank_longo.png" alt="citibank_logo" style="width: 30%; height: 30%" title="Citi Bank">
   <img src="/static/drake&morgan_logo.png" alt="Drake&Morgan_logo" style="width: 30%; height: 30%" title="Drake & Morgan">
   <img src="/static/lights_of_soho.png" alt="lights_of_soho_logo" style="width: 30%; height: 30%" title="Lights of Soho">
   <img src="/static/slug&lettuce_logo.png" alt="Slug&lettuce_logo" style="width: 30%; height: 30%" title="Slug & Lettuce">
   <img src="/static/the_hive_logo.png" alt="the_hive_logo" style="width: 30%; height: 30%" title="The Hive">
   <img src="/static/the_sipping_room.png" alt="the_sipping_room_logo" style="width: 30%; height: 30%" title="The Sipping Room">
   <img src="/static/sway_logo.png" alt="sway_logo" style="width: 30%; height: 30%" title="Sway">
</div>

{% endblock %}

{% block contact %}

<!-- Contact -->
<div class="w3-center w3-padding-64" id="contact">
  <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16 w3-text-white">Contact Us</span><br><br>
  <p class="w3-medium w3-text-white"><em>We'd love to hear from you, get in touch so we can respond back in due course</em></p>
  <p class="w3-xxlarge w3-text-white">
    <em class="w3-large w3-text-white">Please call us for a qoute</em><br>
    <a href="{{ url_for('sendSMS') }}" title="Click here to send us a message!">0203 092 1995</a>
  </p>
</div>

<form action="/" method="post" id="sendEmail">
  <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="name"></p>
  <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="Number (optional)"  name="number"></p>
  <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="Mobile (optional)"  name="mobile"></p>
  <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="email"></p>
  <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Confirm email" required name="confirm"></p>
  <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Subject" required name="subject"></p>
  <label for="messageBox">Write your message below:</label>
  <textarea id="messageBox" class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" name="message_content" rows="8" cols="50" title="Write your message here" required></textarea>
  <p>
    <button class="w3-button w3-light-grey w3-padding-large" type="submit">
      <i class="fa fa-paper-plane"></i> SEND MESSAGE
    </button>
    {% if error %}
      <em class="w3-text-red"><b>{{ error }}</b></em>
    {% endif %}
  </p>
</form>

{% endblock %}

{% block footer %}
  <a href="{{ url_for('home') }}" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
{% endblock %}
